@media screen and (min-width:771px) and (max-width:1402px) {
    .navbar .bar {
        display: none;
    }
}

@media screen and (max-width:770px) {
    .navbar .right {
        display: none;
    }

    .left {
        margin: 0;
    }

    .bar {
        margin-right: 20px;
    }

    form {
        margin-top: 20px;
        width: 100%;
    }
}

@media screen and (max-width:1180px) {
    .order_dining_pub {
        padding: 40px 0px;
        gap: 30px;
    }
}

@media screen and (max-width:430px) {
    .good_places {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        font-size: 15px;
    }
}

@media screen and (max-width:720px) {
    .sixth_container .image_control {
        display: none;
    }

    .getZomato {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .nearme {
        font-size: 15px;
    }
}

@media screen and (max-width:650px) {
    .footer_header {
        flex-direction: column;
    }

    .first_box {
        margin-bottom: 20px;
    }

    .first_box h2 {
        font-size: 65px;
    }
}